.App {
  text-align: center;
  padding: 100px;
  font-family: Copperplate;
  color: #008cba;
}

.OptionsArea {
  display: inline-block;
  text-align: left;
  font-size: 24px;
}

.App-header {
  height: 350px;
  width: 100%;
  background-color: powderblue;
  opacity: 0.9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  border-radius: 8px;
  font-family: Copperplate;
}

.CorrectAnswer {
  color: rgb(79, 160, 79);
}

.IncorrectAnswer {
  color: rgb(180, 66, 75);
}
